<section *ngIf="childrenCategories">
	<h3 class="section-header">Subcategories</h3>
	<div class="category-cards row g-2">
		<div
			class="category-card col-6 col-md-4 col-lg-3"
			*ngFor="let category of childrenCategories"
		>
			<app-children-categories-card
				[category]="category"
			></app-children-categories-card>
		</div>
	</div>
</section>

<section *ngIf="products">
	<h3 class="section-header" *ngIf="category?.name">{{ category?.name }}</h3>
	<app-listing
		[products]="products"
		[pagination]="pagination"
		[sellers]="sellers"
		[page]="page ?? 1"
		[categoryId]="id"
		[category]="category"
		[sort]="sort"
		(filterApplyEvent)="applyFilter($event)"
		(PageApplyEvent)="changePage($event)"
		(SortApplyEvent)="applySort($event)"
	></app-listing>
</section>
