.top-navbar .btn:hover,
.top-navbar .btn:focus
{
	background-color: #f8f9fa;
}

.top-navbar .btn,
.top-navbar .btn:focus,
.top-navbar .btn:active
{
	border: none;
}

.search-navbar
{
	margin-bottom: 1.5em;
}

.navbar-brand
{
	display: flex;
	align-items: center;
	user-select: none;
	justify-content: center;
}

.navbar-brand img
{
	user-select: none;
	margin-inline-end: 0.5rem;
}

.search-bar
{
	/* width: 70%; */
	margin: 0 auto;
}

.search-bar .category-list
{
	max-width: 25%;
}

.search-input-group
{
	width: 80%;
}

.form-control:focus,
.form-select:focus
{
	box-shadow: none;
}

select.category-list
{
	text-align: start;
	font-size: 0.8rem;
}

.lang-btn
{
	border: none;
	outline: none;
}

.lang-btn:focus,
.lang-btn:active
{
	border: none;
}

button.dropdown-toggle::after
{
	display: inline-block;
	margin-left: 0.255em;
	vertical-align: middle;
	content: "\F282";
	font-size: 0.6em;
	font-family: "bootstrap-icons";
	border: none;
}

.account-dropdown > button
{
	text-overflow: ellipsis;
	max-width: 50ch;
	overflow: hidden;
	white-space: nowrap;
}

.navbar-block-item:after
{
	content: "";
	border-inline-end: 1px solid #ccc;
	height: 100%;
	top: 50%;
	transform: translateY(-50%);
}

.navbar-block-item:last-child:after
{
	display: none;
	/* Hide the divider for the last block */
}