<div class="alert alert-secondary mx-auto w-75">
    <h2>Already Logged In</h2>
    <p>
        It seems that you are logged in. And trying to login or register again!
    </p>
    <p>
        If you want to login with another account, you can logout and login
        again.
    </p>
    <p>If you have been redirected. go back and try again.</p>
    <p>
        <button class="btn btn-primary vg-btn mx-1" (click)="goBack()">
            Go Back
        </button>
        <button class="btn btn-outline-primary vg-btn mx-1" (click)="logout()">
            Logout
        </button>
    </p>
</div>
