<meta name="viewport" content="width=device-width, initial-scale=1" />

<p>login works!</p>
<div
  class="alert text-center mx-auto w-75"
  *ngIf="submitted == true && loginSuccess == undefined"
>
  <img src="./assets/gif/loader.gif" style="user-select: none" />
</div>
<div
  class="alert alert-danger text-center mx-auto w-75"
  [class]="loginSuccess === false ? 'd-block' : 'd-none'"
>
  Login Failed! Either Username Or Password Is Invalid!
</div>
<div
  class="alert alert-success text-center mx-auto w-75"
  [class]="submitted && loginSuccess ? 'd-block' : 'd-none'"
>
  Login Success! You have been logged in successfully!
</div>
<form #loginForm="ngForm" (ngSubmit)="OnSubmit()">
  <!-- Username -->
  <div class="form-group login-form-group has-validation">
    <label for="Username" class="form-label">Username: </label>
    <input
      name="Username"
      value=""
      [(ngModel)]="model.Username"
      id="Username"
      class="form-control"
      [class]="Username.touched && Username.invalid ? 'is-invalid' : ''"
      required
      #Username="ngModel"
      placeholder="Username"
    />
    <div
      class="invalid-feedback"
      [ngClass]="{ 'd-block': Username.touched && Username.invalid }"
    >
      This field is required
    </div>
  </div>

  <!-- Password -->
  <div class="form-group login-form-group">
    <label for="Password" class="form-label">Password: </label>
    <input
      type="password"
      name="Password"
      value=""
      [(ngModel)]="model.Password"
      id="Password"
      class="form-control"
      required
      #Password="ngModel"
      [class.is-invalid]="Password.touched && !submitted && Password.invalid"
      placeholder="Password"
    />
    <div
      class="invalid-feedback"
      [class.d-block]="Password.touched && !submitted && Password.invalid"
    >
      This field is required
    </div>
  </div>
  <!-- Remember Me -->
  <div class="login-form-group remember-forogt-group">
    <div class="form-check">
      <input
        type="checkbox"
        name="IsPersistant"
        [(ngModel)]="model.IsPersistant"
        id="IsPersistant"
        class="form-check-input"
      />
      <label for="IsPersistant" class="form-check-label">Remember Me? </label>
    </div>
    <div class="forgot-password-group">
      <a [routerLink]="['/account', 'reset-password']">Forgot password ?</a>
    </div>
  </div>

  <!-- Submit Button -->
  <div class="login-form-buttons">
    <button
      type="submit"
      class="btn btn-primary vg-btn"
      [disabled]="loginForm.invalid"
      loginForm="ngForm"
    >
      {{ "Login" | uppercase }}
    </button>
  </div>

  <div class="login-form-group text-center">
    You don't have an account ?
    <a [routerLink]="['/account', 'register']">Register</a>
  </div>
</form>
