.product-card-description
{
	text-overflow: ellipsis;
	-webkit-line-clamp: 3;
	line-clamp: 3;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	white-space: nowrap;
    overflow: hidden;
    overflow-wrap: break-word;
}

section
{
	width: 80%;
	margin: 0 auto;
}