<h3 class="section-header">Recommended Products</h3>
<div class="vgcarousel">
	<div class="carousel-wrapper" *ngIf="carouselItems">
		<ng-container *ngIf="carouselItems">
			<vg-carousel
				[items]="carouselItems"
				[rtl]="currentLang.rtl"
				[gap]="3"
				[responsiveOptions]="responsiveOptions"
			>
				<div
					class="card-wrapper"
					*ngFor="let product of featuredProducts"
					#carouselItems
				>
					<app-card
						class="product-card"
						[productData]="product"
					></app-card>
				</div>
			</vg-carousel>
		</ng-container>
	</div>
</div>
