<button
	class="btn btn-outline-primary d-md-none w-100 mx-auto"
	type="button"
	data-bs-toggle="offcanvas"
	data-bs-target="#offcanvasBottom"
	aria-controls="offcanvasBottom"
>
	Filters
</button>

<div class="d-flex">
	<div
		class="col-12 col-md-4 col-lg-3 p-2 sidebar offcanvas-md offcanvas-bottom"
		tabindex="-1"
		id="offcanvasBottom"
		aria-labelledby="offcanvasBottomLabel"
	>
		<div class="wrapper">
			<app-sidebar
				[category]="category"
				[filters]="filtersDefault"
				[sellers]="sellerList"
				(filterApplyEvent)="applyFilter($event)"
			></app-sidebar>
		</div>
	</div>
	<div
		class="col-12 col-md-8 col-lg-9 p-1 pt-2 d-flex flex-column content"
		*ngIf="products && products.length > 0; else noproducts"
	>
		<div class="top-bar d-flex justify-content-between px-3">
			<div
				class="num-found d-flex align-items-center justify-content-center"
			>
				{{ pagination?.totalRecords }} items found.
			</div>
			<div class="sort-options">
				<div class="dropdown">
					<button
						class="btn btn-outline-light dropdown-toggle text-body"
						type="button"
						data-bs-toggle="dropdown"
						aria-expanded="false"
					>
						{{
							"productSort." + sortOptions[currentSortIndex].value
								| translate
						}}
					</button>
					<ul class="dropdown-menu">
						<li *ngFor="let item of sortOptions">
							<a
								class="dropdown-item"
								[ngClass]="{ active: item.key == sort }"
								href="#"
								(click)="setSortOption($event, item)"
								>{{
									"productSort." + item.value | translate
								}}</a
							>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="d-flex flex-wrap mb-auto">
			<app-card
				*ngFor="let product of products"
				[productData]="product"
				class="p-1 col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3"
			></app-card>
		</div>

		<div class="d-flex justify-content-center align-items-center mt-3">
			<nav aria-label="...">
				<ul class="pagination">
					<li class="page-item" [ngClass]="{ disabled: page == 1 }">
						<a class="page-link" (click)="prevPage()">Previous</a>
					</li>
					<li
						class="page-item"
						[ngClass]="{ active: page == i }"
						*ngFor="let i of pageList"
					>
						<a class="page-link" (click)="changePage(i)">{{ i }}</a>
					</li>
					<li
						class="page-item"
						[ngClass]="{ disabled: page == totalPages }"
					>
						<a class="page-link" (click)="nextPage()">Next</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	<ng-template #noproducts>
		<div class="text-center w-100">No Products Found!</div>
	</ng-template>
</div>
